/** reset css **/
*, *::before, *::after { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

:root{
    --color1:red;
    --color2:green;
    --color3:blue;
    --color4:orange;
    --color5:yellow;
    --color6:purple;
    --color7:white;
    --color8:pink;
    --color9:cyan;
}

h1{
    text-align: center;
}

/** Ligne de mastermind */
section{
    width: 410px;
    min-height: 60px;
    background-color: antiquewhite;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content:space-around;
    align-items: center;
    border-radius: 7%;
}

section div{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 15%;
}

/** Billes à cliquer */
div[data-color]{
    border-radius: 100%;
    background-color: darkslategrey;
    color: darkslategrey;
}

/** couleur des billes */
div[data-color='1']{
    background-color: var(--color1);
    color: var(--color1);
}
div[data-color='2']{
    background-color: var(--color2);
    color: var(--color2);

}
div[data-color='3']{
    background-color: var(--color3);
    color:var(--color3);
}
div[data-color='4']{
    background-color: var(--color4);
    color: var(--color4);
}
div[data-color='5']{
    background-color: var(--color5);
    color: var(--color5);
}
div[data-color='6']{
    background-color:var(--color6);
    color: var(--color6);
}
div[data-color='7']{
    background-color: var(--color7);
    color: var(--color7);
}
div[data-color='8']{
    background-color: var(--color8);
    color: var(--color8);
}
div[data-color='9']{
    background-color: var(--color9);
    color: var(--color9);
}

/**===========================================*/

/** Résultat */
.wellplaced, .misplaced{
    display: flex;
    flex-wrap: wrap;
    
}

/** bouton résultat ***/
.wellplaced div, .misplaced div{
    background-color:darkslategrey;
    width: 10px;
    height: 10px;
    margin:7px;
    border-radius: 100%;
}